.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;



    .logo {
        display: flex;
        // justify-content: center;
        align-items: center;
        font-weight: bold;
        gap: 10px;
    }

    .icons {
        display: flex;
        align-items: center; // 
        gap: 20px;

        .notification {
            position: relative;
            justify-content: center;
            align-items: center;

            span {
                background-color: red;
                color: white;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                right: -10px;
                display: flex; // 这里的display flex 有什么作用
                align-items: center;
                justify-content: center;
                font-size: 12px;

            }
        }

        // .user {
        //     img {
        //         width: 15px;
        //         height: 15px;
        //         border-radius: 50%;
        //     }
        // }
        .user {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover; // 关注
            }
        }
    }

}